@{
    // This C# is to set the title of the page, but makes it dynamic
    ViewData["Title"] = "Get a Quote";
}
<!-- This page view is for getting a quote -->
<div class="text-center" style="max-width: 601px; margin: 0 auto;">
    <!-- Formal getting started stuff -->
    <h1>@ViewData["Title"]</h1>
    <p align="justify">My journey to become a fast typer did not come from a terribly expensive program or software; I similarly want to maintain that philosophy. Fill in the details below, and let's get in touch. I'm excited to type with you.</p>
    <p align="justify">See you on the keyboards soon,<br><span style="font-style: italic;">- Jake McGuire</span></p><br>
</div>

<div class="text-center">
    <!-- Create a fieldset for the aesthetic -->
    <fieldset class="form-box">
        <!-- Name the fieldset -->
        <legend>Complete this Form</legend><hr>

        <!-- Create the form; this is POST not GET -->
        <form method="post">
            <div class="form-group">
                <!-- Hours needed -->
                <label for="hours">How many hours do you need?</label>
                <input type="number" class="form-control" id="hours" name="hours" min="0" required>
            </div>
            
            <div class="form-group">
                <!-- My rate -->
                <label for="rate">The Jake Rate&trade; per hour:</label>
                <input type="text" class="form-control" id="rate" name="rate" value="$42.31" readonly>
            </div>

            <div class="text-center" style="margin-top:10px">
                <!-- Button to submit -->
                <button id="getquote" type="submit" class="btn">Calculate</button>
            </div>

            <hr><div class="form-group">
                <!-- Output box for projected price -->
                <label for="total">Total Projected Price:</label>
                <input type="text" class="form-control" id="total" name="total" readonly>
                <p style="font-size: 12px; font-style: italic;" align="left">*This is an estimate. The actual price may vary slightly.</p>
            </div>
        </form>
    </fieldset>
</div>

<!-- Parting words -->
<div class="text-center">
    <br><p align="justify" style="margin-bottom:0; font-weight: bold;">Feel free to reach out to me!</p>
</div>

<!-- Contact info -->
<ul style="padding: 0 0 0 20px; max-width: 601px; margin: 0 auto;">
    <li style="text-align: left;">
        Email: <a href="mailto:jacob.w.mcguire@gmail.com">jacob.w.mcguire@gmail.com</a>
    </li>
    <li style="text-align: left;">
        Phone: +1 (435) 279-7528
    </li>
</ul>

<!-- Catchphrase -->
<div class="text-center">
    <br><p align="justify" style="margin-bottom:0;">As always,</p>
    <p style="font-style: italic;">If I can do it with one hand, you can do it two times faster.</p>
</div>