@model ErrorViewModel
@{
    // This C# is to set the title of the page, but makes it dynamic
    ViewData["Title"] = "Error";
}

<!-- <!-- Error page -->
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<!-- Show the request ID if it is available -->
@if (Model.ShowRequestId)
{
    // Display the request ID
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<!-- Show the error message -->
<p>
    <strong>You have reached the error page.</strong>
    Apologies for the inconvenience, but at least you accessed this page...<br>
    If you try accessing other pages other than the Index (the home page) or Quote page, it just does not work at all :-(
</p>
