html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

header {
    /* Optional styling for header */
}

.container-flex {
    flex: 1; /* This makes the content area flex-grow */
    display: flex;
    flex-direction: column;
}

/* Make my footer look nice and stay on the bottom of the screen */
.footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 1rem;
}

/* This is to make sure my text stays to the right of the video, and the vidoe is in the right place */
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    margin-right: 20px;
}
.text-container {
    max-width: 400px;
}

/* Set up the image container for formatting reasons */
.image-container {
    text-align: center;
}
.image-container img {
    margin: 10px;
}
.img-container {
    text-align: center;
}
.img-container img {
    margin: 10px;
    max-width: 95%;
}
.img-text-caption {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the form boxes */
.form-box {
    border: 2px solid #ccc;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}
.form-group label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}
.form-control {
    width: 100%;
    box-sizing: border-box;
}

/* Center my text and standardize it */
.text-center {
    max-width: 601px;
    margin: 0 auto;
    text-align: center;
}

/* Edit the button to match my color aesthetic */
.btn {
    background-color: #4C9ADD;
    color: white;
}
.btn:hover {
    background-color: #258cfb;
}

/* Change background color of read-only to be light gray */
.form-control[readonly] {
    background-color: #f0f0f0;
}